/* login.html css*/
.logo{
	margin-top:5%;
	margin-left: 30%;
	display: block;
}

.logo > h1{
	margin: 0px;
}

.user-list{
	margin: 4%;
}

.item{
	border-top: 0;
    border-left: 0;
    border-right: 0;
}

.button.button-signin{
	margin-top: 10%;
	font-size:	1.4em;
}

.social-row{
	display: inline-block;
}

.placeholder-icon {
    color: #aaa;
    position: absolute;
    top: 40px;
}

.list .item.item-input input {
    padding-right: 44px;
    margin-left: 6%;
}

a.button{
	margin-left: 3.2%;
	/*width: 44.66786660935597%;*/
	width: 44%;
}

a.button:nth-child(1){
	background-color: #3b5998;
}

.custom-icon{
	color: white;
}

a.button:nth-child(2){
	background-color: #D34836;
}

a.button:nth-child(3){
	background-color: #4099FF;
}

.row.icon{
	font-size: 96px;
	font-color: white;
	text-align: center;
	margin: 0 auto;
}

.divider{
	height: 10px;
    border-bottom: 3px solid #F3F5F6;
    text-align: center;
    width:89.33573321871194%;
    margin: 0% 0% 3% 5%;
}

.divider > span{
	font-size: 1em;
	background-color: white;
	padding: 10px;
}

.signup{
	font-size: 1em;
	margin: 3.4%;
	text-align: center;
}
.signup > a{
	text-decoration: none;
}


/* signup.html */

.signup-list{
	margin-left: 4%;
	margin-right: 4%;
}

.button.button-signup{
	margin-top: 10%;
	font-size:	1.4em;
}

.custom-signup-icon{
	position: absolute;
	left:4%;
	top: 48.4%;
}

.popup-h{
	margin: 0px;
}

/* home.html css */

.button-back{
	float: left;
}

.home{
	background-color: #F3F5F6;
}

.list-item-menu{
	border: 0px;
}

.purchase-card{
	margin-top: 14%;
}

.item-image{
	border: 0px;
}

.row-btn{
	display: inline-block;
}

.button.button-buy{
	width: 160px;
	float: left;
	margin-left: 6.5px;
	margin-top: 8px;
	font-size: 1.4em;
}

.dp-card{
	background-color: #F3F5F6;
}

/** Profile.html CSS **/

.user{
	display: block;
	text-align: center;
	opacity: 1;
	background-image: linear-gradient(to left, rgb(131, 164, 212), rgb(182, 251, 255));
}

.user-dp{
	border-radius: 50%;
	margin-top: 2%;
}

.user > h2 {
	margin: 0px;
}

.custom-user-icon{
	position: absolute;
	top: 48.4%;
	left: 4%;
	float: left;
}

/* Health.html */
.health{
	display: block;
	text-align: center;
	opacity: 1;
	background-image: linear-gradient(to left, rgb(131, 164, 212), rgb(182, 251, 255));
}

.health-dp{
	border-radius: 50%;
	margin-top: 2%;
}

.button.button-calculate{
	width: 75%;
	margin-left: 12.5%;
	font-size:	1.4em;
}
