<ion-view>
  <ion-content>
    <div class="list card purchase-card">

      <div class="item item-avatar">
        <img src="img/ionic.png">
        <h2>SLV Enterprise</h2>
        <p>Trusted Vendor</p>
      </div>

      <div class="item item-image">
        <img src="img/ionic.jpg" height="380">
      </div>
      <div class="row-btn">
        <button class="button button-calm button-buy">Buy</button>
        <button class="button button-calm button-buy">View</button>
      </div>
    </div>
  </ion-content>
</ion-view>