<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button class = "button-clear">
        <i class = "icon ion-arrow-left-c"></i>
      </ion-nav-back-button>
      <ion-nav-title>
          <h4 style="color:white;">WaterTap</h4>
      </ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" class="home">
    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-content>
      <div class="list card dp-card">
        <div class="item item-avatar dp-card">
          <img src="img/ionic.png" alt="" id="userPic">
          <h2 id="userName"></h2>
          <p>Welcome to WaterTap!</p>
        </div>
      </div>
      <ion-list>
        <ion-item class="list-item-menu" menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item class="list-item-menu" menu-close href="#/app/profile">
          My Profile
        </ion-item>
        <ion-item class="list-item-menu" menu-close href="#/app/health">
          My Health
        </ion-item>
        <ion-item class="list-item-menu" menu-close href="#/app/orders">
          My Orders
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
