<ion-view>
  <ion-nav-title>
    Daily Water Tracking
  </ion-nav-title>
  <ion-content>
    <div class="card card-round-progress">
      <div
        round-progress
        max="100"
        current="40"
        color="#0a9dc7"
        bgcolor="#eaeaea"
        radius="100"
        stroke="15"
        semi="false"
        rounded="false"
        clockwise="true"
        responsive="false"
        duration="800"
        animation="easeInOutQuart"
        animation-delay="0"></div>
    </div>
    <i class="ion-android-add-circle custom-round-icon"></i>
    <!--button class="button button-calm button-round"><i class="ion-android-add-circle custom-round-icon"></i></button-->
  </ion-content>
</ion-view>
